.privacy-check {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 8px 0;
    font-size: 14px;
}

.cta-area {
    margin-top: 0;
}

.btn-solid.subscribe-btn {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    /* Opcional: ajusta el tamaño del texto */
    line-height: 1.1;
}